<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WebGL Course assignment</title>
    <script id="vertex-shader" type="x-shader/x-vertex">
attribute vec4 vPosition;

void
main()
{
    gl_Position = vPosition;
}


    </script>

    <script id="fragment-shader" type="x-shader/x-fragment">
precision mediump float;

void
main()
{
    gl_FragColor = vec4( 1.0, 0.0, 0.0, 1.0 );
}


    </script>
    <script type="text/javascript" src="webgl-utils.js"></script>
    <script type="text/javascript" src="initShaders.js"></script>
    <script type="text/javascript" src="MV.js"></script>
    <script type="text/javascript" src="flatten.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/webgl.css">

</head>

<body>
<div class="container">
    <div class="row gl-container text-center">
        <h2>WebGL assignment</h2>

        <div class="jumbotron col-xs-12">
            <canvas id="webgl-canvas" class="webgl-canvas"></canvas>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/assignment.js"></script>
</html>